
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Login here</h1>
      <div class="row center">
        <h5 class="header col s12 light">blah blah blah blah</h5>
      </div>
      <div>
<a class="btn waves-effect waves-light btn-large" href="/signup/auth/facebook">Register With Facebook</a>
<a href="/signup" class="waves-effect waves-light btn-large">Sign Up with Email</a>
<a href="/login" class="waves-effect waves-light btn-large">Log In with Email</a>
</div>
      <br><br>

    </div>
  </div>


    <div class="section">

    </div>
  </div>
